	<footer>
		<div class="o-footer-wrap">
			<p class="o-footer__claims">This is a friendly attempt at keeping the internet an open, weird place that your parents still don't understand. I am not affiliated with Hoonigan in any way, do not claim ownership over any trademarks or similar and do not expect anything in return for my efforts!</p>
			<p>I have tried to explain myself a little <a href="/blog/2021/08/hello-world/">here</a><br />The source to this website as well as the dataset is open source available <a href="https://github.com/tzeejay/thisvsthat.show">here</a></p>
			<h5 class="o-footer__credits">Created by <a href="https://instagram.com/tzeejay" target="_blank">@tzeejay</a><br />You can also fine me as @tzeejay in other places on the internet</h5>
		</div>
	</footer>
	</body>
</html>